* {
    box-sizing: border-box;
}

h1 {
    color: black;
    text-align: center;
    background-color: rgba(150, 170, 200, 120);
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    margin-bottom: 0px;
    background-color: black;
    color: gold;
}

body {
    background-image: url(img/mine.png);
}

.modal {
    width: 900px;
    height: 100px;
    text-align: center;
    background-color: royalblue;
    margin: 0 auto;
    margin-top: 0px;
    border: solid silver 1px;
    border-radius: 5px;
}

.cell {
    background-color: blueviolet;
    height: 39px;
    width: 39px;
    text-align: center;
    border: solid black 1px;
    font-size: 25px;
    cursor: pointer;
}

.cell:hover {
    background-color: lightcoral;
}

table {
    margin-top: 0px;
    margin-left: 510px;
    height: 480px;
    width: 480px;
    background-color: black;
}

.restart button {
    position: relative;
    background-color: blueviolet;
    margin-left: 370px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border: solid gray 3px;
    border-radius: 5px;
    bottom: 10px;
}

.time {
    width: 100px;
    height: 50px;
    background-color: lightseagreen;
    margin-right: 500px;
    text-align: left;
    text-align: center;
    border: solid gray 3px;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 10px;
}

.level-button {
    float: right;
    margin: 20px;
    margin-top: 0px;
    cursor: pointer;
    height: 40px;
    width: 90px;
    border: solid gray 3px;
    border-radius: 5px;
    font-size: 15px;
}

.restart {
    font-size: 30px;
}

.level-button:hover {
    background-color: lightseagreen;
}

.hint {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
}

.hint1 {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    border: solid gray 3px;
    border-radius: 5px;
}

.hint2 {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    border: solid gray 3px;
    border-radius: 5px;
}

.hint3 {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    border: solid gray 3px;
    border-radius: 5px;
}

.resultmsg {
    font-size: 50px;
    margin-bottom: 800px;
    font-weight: bold;
}